{% extends "home/home.html" %}
{% load htmltags %}

{% block staticfiles %}
	{% load staticfiles %}
	<link rel = "stylesheet" href = "{% static 'css/editor.css' %}" type = "text/css"/>
{% endblock %}

{% block body %}
	<div id = "projectsearch">
		<form method = "GET" action = "{% url 'browser:index' %}">
			<input type = "text" name = "filterstring"/>
			<input type = "submit" name = "submit" value = "Search"/>
		</form>
	</div>
	<div id = "projects">
		<ul>
			{% for project in projects %}
				<li>
					<a href = "{% url 'editor:index' %}?projecthash={{ project.projectHash }}" target = "_blank">
						{{ project.projectName }}
						</br>
						{{ project.projectHash }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
