button.controlbuttons
{
	margin-right: 5px;
}
#output, #mycanvas, #console
{
	float: right;
	display: block;
	margin-left: 5px;
}
#mycanvas
{
	background-color: rgb(230, 230, 230);
}
#editor
{
	position: absolute;
	top: 150px;
	bottom: 50px;
	left: 50px;
	width: 500px;
}
#control
{
	float: left;
}
#control ul li
{
	display: inline;
	list-style-type: none;
}
#vitalinformation
{
	display:block;
	float: left;
	padding-left: 40px;
}
#vitalinformation h3
{
	margin-top: 5px;
}
