button.controlbuttons
{
	display: block;
	margin-bottom: 5px;
}
#output, #mycanvas, #console
{
	float: right;
	display: block;
	margin-left: 5px;
}
#mycanvas
{
	background-color: rgb(230, 230, 230);
}
#editor
{
	position: absolute;
	top: 50px;
	bottom: 150px;
	left: 50px;
	width: 500px;
}
