#navigationdiv ul li
{
	list-style-type: none;
	display: inline;
	margin-right: 5px;
}

#navigationdiv ul
{
	margin-bottom: 0px;
}

#navigationdiv ul li a
{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
